*{
    margin:0px;
    padding:0px;
  }
  
  header{
    margin:0px;
    padding: 0px;
    width: 100%;
    background-color: #f1e4f1;
    font-family:"Playfair display";
    color: white;
    text-align: center;
  }
  
  #logo{
    padding: 10px; 
    width: 90%;
  }
  
  #logo2{
    padding: 10px; 
    width: 30%;
  }
  
  #titulo {	
    float: left;
    font-size:50px;
    padding-top: 20px;
    color: white;
    text-shadow: 2px 2px 2px pink;
    animation: jackInTheBox;
    animation-duration: 3s;
  }
  
  .social{
    margin: 10px;
    margin-top: 50px;
    width: 40px;
    height: 40px;
    display: inline-block;
  }